.container {
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  width: 60%;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); /* Apply box shadow to the left */
}

.leftHeading {
  width: 100%;
  background-color: #063970;
  color: white;
  border-radius: 6px;
}

.rightContainer {
  width: 30%;
  margin-right: 30px;
  border-radius: 6px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); /* Apply box shadow to the right */
  height: 450px;
}

.leftAddressList {
  width: 100%;
  background-color: white;
  word-wrap: normal;
}

.formContainer {
  background-color: white;
  margin-top: 1px;
  padding-bottom: 15px;
}
.spanStyle{
  margin-left: 100px;
}

.input {
  width: 250px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 8px;
  border: 1px solid grey;
  font-size: 18px;
}
.email{
  width: 540px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 8px;
  border: 1px solid grey;
  font-size: 18px;
}
.button{
 margin-left: 40px;
 height:55px;
 font-size: 20px;
 padding: 4px;
 background-color: brown;
 color: white;
 border-radius: 4px;
 width:160px;
}
.button:hover{
  margin-left: 40px;
  height:55px;
  font-size: 20px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(99, 27, 27);
  color: white;
  border-radius: 4px;
 
 }

  
/* Add media query for larger screens if needed */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column; /* Adjust to a row layout for larger screens */
  }

  .leftContainer {
    width: 90%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  }
  .email{
    width: 90%;
  }
  .spanStyle{
    margin-left: 10px;
  }

  .rightContainer {
    width: 90%;
    border-radius: 6px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
  }
}



@media(max-width:1174px){
  .container{
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .leftContainer {
    width: 80%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); /* Apply box shadow to the left */
  }
  
.rightContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  margin-right: 30px;
  border-radius: 6px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); /* Apply box shadow to the right */
  height: 450px;
}

 }

