@import "bootstrap/dist/css/bootstrap.min.css";
/* Success.css */
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.success-message {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3437db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes hanging {
  to {
    transform: translate(-50%, -55%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
