
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body::-webkit-scrollbar {
  display: none;
}

/* Add this to your CSS file */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media(max-width:560px)
{
  .small-device{
      font-size: 11px;
  }
}

