/* onlinePayment.module.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  text-align: center;
  background-color: #5210c5;
  width: 650px;
  height: 450px;
  border-radius: 10px;
}

.heading {
  font-size: 26px;
  margin-top: 32px;
  color: white;
  font-weight: bold;
}

.label {
  color: white;
  font-weight: bold;
}

.input {
  background-color: white;
  color: black;
  width: 300px;
  height: 40px;
  margin-left: 32px;
  margin-top: 12px;
  border-radius: 5px;
  padding-left: 10px;
}

.button {
  color: black;
  background-color: white;
  margin-top: 12px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .container {
    height: auto;
    padding: 20px;
  }

  .form {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .heading {
    font-size: 22px;
    margin-top: 16px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    width: 100%;
    margin-left: 0;
  }

  .button {
    width: 100%;
  }
}
