@import "bootstrap/dist/css/bootstrap.min.css";
.accordion{
    display: block;
}
.desktop-content{
    display: none;
   
}
@media(min-width:640px){
    .accordion{
        display: none;
    }
    .desktop-content{
        display: block;
        background-color: brown;
        color: white;
        border:2px solid brown;
        width: 100%;
        height: 100%;
        padding:15px;
    }
}