/* styles.css */

.stylecontainer {
  display: flex;
  overflow-x: scroll;
  /* border:1px solid grey; */
  border-radius: 6px;
}


.imagecontainer {
  border: 1px solid grey;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.imagecontainer img {
  border-radius: 10px;
  width: 220px;
  height: 240px;
}
.imagecontainer h4{
  text-align: left;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ensure stars wrap to the next line */
  margin-top: 10px;
}

.star {
  width: 20px;
  height: 20px;
  
  margin-right: 5px;
}

@media (max-width: 1113px) {
  .stylecontainer::-webkit-scrollbar {
    display: none;
  }

  .responsive-card {
    width: 18rem;
  }
}

@media (max-width: 1196px) {
  .collection {
    overflow-x: auto;
  }
}


@media (max-width: 864px) {
  .collection {
    overflow-x: scroll;
  }
}
